body {
    color: darkslategray;
background-color: lightcyan;
font-family: Georgia, 'Times New Roman', Times, serif;}

h1 {color: lightpink;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h2 {color: lightpink;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
nav {background-color: lightcyan;}
nav a {color: darkcyan}
nav {color: darkcyan}
nav a:hover {background-color:blanchedalmond;}
nav {
    padding: 10px; 
    margin-bottom: 30px; 
    background-color: aliceblue;
    }
div {
    border: 1px midnightblue;
    margin: 30px;
    padding: 50px;
    background-color: lightpink;
    border-radius: 25px;
}