body {
    color: darkslategray;
background-color: lightcyan;
font-family: Georgia, 'Times New Roman', Times, serif;}

h1 {color: lightpink;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h2 {color: lightpink;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
nav {background-color: blanchedalmond;}
nav a {color: darkcyan}
nav {color: darkcyan}
nav a:hover {background-color: cyan;}

